    .featured__container{
        display: flex;
        max-width: 1024px;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
        .featured__items{
            border-radius: 14px;
            height: 250px;
            overflow: hidden;
            position: relative;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
            
            .featured__items--img{
                width: 100%;
                object-fit: cover;
            }
            .featured__title{
                color: white;
                position: absolute;
                bottom: 20px;
                left: 20px;
            }
        }
    }
