.navbar {
    background-color: #5352ed;
    display: flex;
    justify-content: center;
    align-items: center;

    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 60px;
        max-width: 1024px;
        width: 100%;
        align-items: center;
        .navbar__logo{
          color: white;
          cursor: pointer;
          user-select: none;
          &:hover{
            color:rgba(164, 176, 190, 1);

          }
          &:active{
            color:white;
        }
        }
        .navbar__item{
            display: flex;
            gap: 16px;
            align-items: center;
            .navbar__btn{
                font-weight: 500;
                user-select: none;
                padding: 5px;
                cursor: pointer;
                border: none;
                border-radius: 2px;
                &:hover{
                    background-color:rgba(164, 176, 190, 1);
                }
                &:active{
                    color:white;
                }
            }
            }
    }
}