.footer{
    width: 100%;
    .footer__container{
        margin-top: 30px;
        margin-bottom: 80px;
        display: flex;
        justify-content: space-around;
            
        .footer_items{
            color: rgba(116, 125, 140,1.0);
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-size: 14px;
            list-style-type: none;
            cursor: pointer;
        }
    }
}